<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Termodinamik Hesap Makinesi</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Hesaplama</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="breadcrumb-item">Hesaplama</li>
                    <li class="breadcrumb-item active">Doymuş Su - Basınç</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Doymuş Su - Basınç Tablosu Hesaplama</h5>

                            <!-- Floating Labels Form -->
                            <form class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingPressure" placeholder="Basınç">
                                        <label for="floatingPressure">Basınç(kPa)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingTemperature" placeholder="Sıcaklık">
                                        <label for="floatingTemperature">Sıcaklık(°C)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingVolumeFluid" placeholder="Özgül Hacim - Sıvı">
                                        <label for="floatingVolumeFluid">Özgül Hacim - Sıvı(m³/kg)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingVolumeVapor" placeholder="Özgül Hacim - Buhar">
                                        <label for="floatingVolumeVapor">Özgül Hacim - Buhar(m³/kg)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingInternalEnergyFluid" placeholder="İç Enerji - Sıvı">
                                        <label for="floatingInternalEnergyFluid">İç Enerji - Sıvı(kJ/kg)</label>
                                    </div>
                                </div><div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingInternalEnergyEvap" placeholder="İç Enerji - Buharlaşma">
                                        <label for="floatingInternalEnergyEvap">İç Enerji - Buharlaşma(kJ/kg)</label>
                                    </div>
                                </div><div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingInternalEnergyVapor" placeholder="İç Enerji - Buhar">
                                        <label for="floatingInternalEnergyVapor">İç Enerji - Buhar(kJ/kg)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingEnthalpyFluid" placeholder="Entalpi - Sıvı">
                                        <label for="floatingEnthalpyFluid">Entalpi - Sıvı(kJ/kg)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingEnthalpyEvap" placeholder="Entalpi - Buharlaşma">
                                        <label for="floatingEnthalpyEvap">Entalpi - Buharlaşma(kJ/kg)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingEnthalpyVapor" placeholder="Entalpi - Buhar">
                                        <label for="floatingEnthalpyVapor">Entalpi - Buhar(kJ/kg)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingEntropyFluid" placeholder="Entropi - Sıvı">
                                        <label for="floatingEntropyFluid">Entropi - Sıvı(kJ/kg.K)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingEntropyEvap" placeholder="Entropi - Buharlaşma">
                                        <label for="floatingEntropyEvap">Entropi - Buharlaşma(kJ/kg.K)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingEntropyVapor" placeholder="Entropi - Buhar">
                                        <label for="floatingEntropyVapor">Entropi - Buhar(kJ/kg.K)</label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary" id="calculate">Hesapla</button>
                                    <button type="reset" class="btn btn-secondary">Sıfırla</button>
                                </div>
                            </form><!-- End floating Labels Form -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->

    <script>
        $(document).ready(function () {
            $("#calculate").click(function () {
                var data = {
                    "Pressure": $("#floatingPressure").val(),
                    "Temperature": $("#floatingTemperature").val(),
                    "VolumeFluid": $("#floatingVolumeFluid").val(),
                    "VolumeVapor": $("#floatingVolumeVapor").val(),
                    "InternalEnergyFluid": $("#floatingInternalEnergyFluid").val(),
                    "InternalEnergyEvap": $("#floatingInternalEnergyEvap").val(),
                    "InternalEnergyVapor": $("#floatingInternalEnergyVapor").val(),
                    "EnthalpyFluid": $("#floatingEnthalpyFluid").val(),
                    "EnthalpyEvap": $("#floatingEnthalpyEvap").val(),
                    "EnthalpyVapor": $("#floatingEnthalpyVapor").val(),
                    "EntropyFluid": $("#floatingEntropyFluid").val(),
                    "EntropyEvap": $("#floatingEntropyEvap").val(),
                    "EntropyVapor": $("#floatingEntropyVapor").val()
                };

                console.log("abc", data);
                $.ajax({
                    url: '@Url.Action("SaturatedWaterPressure", "Calculation")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        if (response.success === false) {
                            alert(response.message);
                            return;
                        }
                        console.log(response);
                        $("#floatingPressure").val(response.pressure);
                        $("#floatingTemperature").val(response.satTemperature);
                        $("#floatingVolumeFluid").val(response.satLiquidSpecificVolume);
                        $("#floatingVolumeVapor").val(response.satVaporSpecificVolume);
                        $("#floatingInternalEnergyFluid").val(response.satLiquidInternalEnergy);
                        $("#floatingInternalEnergyEvap").val(response.evapInternalEnergy);
                        $("#floatingInternalEnergyVapor").val(response.satVaporInternalEnergy);
                        $("#floatingEnthalpyFluid").val(response.satLiquidEnthalpy);
                        $("#floatingEnthalpyEvap").val(response.evapEnthalpy);
                        $("#floatingEnthalpyVapor").val(response.satVaporEnthalpy);
                        $("#floatingEntropyFluid").val(response.satLiquidEntropy);
                        $("#floatingEntropyEvap").val(response.evapEntropy);
                        $("#floatingEntropyVapor").val(response.satVaporEntropy);
                    },
                    error: function () {
                        // Hata durumunda yapılacak işlemler
                    }
                });
            });
        });

    </script>
</body>
</html>