<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Termodinamik Hesap Makinesi</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Hesaplama</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Doymuş Su - Sıcaklık Tablosu Hesaplaması</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Hesaplama</h6>
                            <p class="card-text">Hesaplama ekranına gitmek için aşağıdaki butona tıklayınız.</p>
                            <p class="card-text"><a href="/Calculation/SaturatedWaterTemperature" class="btn btn-primary">Hesaplama Ekranına Git</a></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Doymuş Su - Basınç Tablosu Hesaplaması</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Hesaplama</h6>
                            <p class="card-text">Hesaplama ekranına gitmek için aşağıdaki butona tıklayınız.</p>
                            <p class="card-text"><a href="/Calculation/SaturatedWaterPressure" class="btn btn-primary">Hesaplama Ekranına Git</a></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">R134-A - Sıcaklık Tablosu Hesaplaması</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Hesaplama</h6>
                            <p class="card-text">Hesaplama ekranına gitmek için aşağıdaki butona tıklayınız.</p>
                            <p class="card-text"><a href="/Calculation/SaturatedR134ATemperature" class="btn btn-primary">Hesaplama Ekranına Git</a></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">R134-A - Basınç Tablosu Hesaplaması</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Hesaplama</h6>
                            <p class="card-text">Hesaplama ekranına gitmek için aşağıdaki butona tıklayınız.</p>
                            <p class="card-text"><a href="/Calculation/SaturatedR134APressure" class="btn btn-primary">Hesaplama Ekranına Git</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
</body>
</html>